:root {
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

    line-height: 1.0;

    --accent: hsl(222, 76%, 54%);
    --accent-hover: hsl(222, 76%, 60%);
    --description: #74747C;
    --background-light: #FFFFFF;
    --separator: #E4E4E4;
    --color-important: hsl(16, 65%, 55%);
    --color-important-hover: hsl(0, 65%, 61%);
    --color-medium: hsl(43, 72%, 56%);
    --color-low: hsl(126, 36%, 46%);
    --text: hsl(240, 10%, 4%);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.color-text { color: var(--text); }
.color-accent { color: var(--accent); }
.color-low { color: var(--color-low); }
.color-medium { color: var(--color-medium); }
.color-critical { color: var(--color-important); }

.label-Low { background-color: var(--color-low); }
.label-Medium { background-color: var(--color-medium); }
.label-High { background-color: var(--color-important); }
.label-Critical { background-color: var(--color-important); }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

body {
    min-height: 100vh;
    display: flex;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

input {
    border: 1px solid var(--separator);
    padding: 8px;
    border-radius: 8px;
    min-width: 256px;
    outline: none;

}

.btn-primary {
    background-color: var(--accent);
    color: var(--background-light);
    font-weight: bold;
    padding: 12px 18px;
}
.btn-primary-mini {
    background-color: var(--accent);
    color: var(--background-light);
    padding: 8px 24px;
    font-weight: bold;
}

.card {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--separator);
    flex-direction: column;
    gap: 8px;
}

.btn-secondary { border: 1px solid var(--separator); }
.btn-primary:hover, .btn-primary-mini:hover, .btn-primary-small:hover { background-color: var(--accent-hover);}
.btn-secondary:hover { background-color: var(--separator); }
.btn-primary-small {     
    background-color: var(--accent);
    color: var(--background-light); 
    font-weight: bold;
    padding: 8px 16px;
}

.btn-red {
    background-color: var(--color-important);
    color: var(--background-light);
    font-weight: bold;
    padding: 8px 16px;
}

.btn-red:hover { background-color: var(--color-important-hover); }

.inlne-flex { display: inline-flex; }
.flex { display: flex; }
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.width-100 { width: 100%; }

.description { color: var(--description); }
.gap-8 { gap: 8px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }

.icon { 
    font-variation-settings: 
    'wght' 350;
}

.logo-text {
    font-weight: bold;
    font-size: 24px;
}

.auth-form-controls {
    align-items: center;
}

.link {
    text-decoration: none;
    color: var(--accent);
    transition: 0.3s;
}

.link:hover {
    text-decoration: underline;
    color: var(--accent-hover);
}